
*{
    margin: 0px;
    padding: 0px;
}

.image-container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 10%;
}

img{
   width: 60%;
   height: 150px;
}

h1{
    margin: auto;
}

@media (max-width: 400px) and (max-height: 800px){
    
   body{
       background-color: blue;
   }
   
   img{
    width: 60%;
    height: 100px;
 }
   .image-container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    margin-right: 10%;
}
}